html, body {
  border-top: 3px solid #440154;
}

h3 {
  color: #26828E;
}

.container a, .panel_default h4 a, h5 a {
  color: #26828E;
}

a:hover {
  color: #440154;
}

div.footer {
  border-bottom: 5px solid #440154;
}

.talk-container {
  padding-top: 10px;
  font-size: 16px;
  width: auto;
  text-align: center;
}

.talk-info > ul {
  width: 50%;
  display: inline-flex;
  align-items: stretch;
  justify-content: space-between;
  font-size: 13px;
}

.talk-info > li {
  display: inline-block;
}

.talk-window {
  text-align: center;
}

.talk-window > iframe {
  display: inline-block;
  justify-content: center;
}

.img-square {
  width: 30%;
}

.avatar {
  padding-top: 0%;
  padding-bottom: 3%;
}

.bio {
  font-size: 16px;
  max-width: 70%;
  display: inline-block;
}

.twitter-tweet {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.talks {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: minmax(50px, 1fr) 50px;
  gap: 0px 30px;
  grid-template-areas:
    "date title"
    "venue description";
  margin-bottom: 1px;
}

.talks > .date {
  grid-area: date;
}
.talks > .title {
  grid-area: title;
}
.talks > .venue {
  grid-area: venue;
}
.talks > .description {
  grid-area: description;
}
