@import url(./fonts/montserrat/montserrat.css);

html, body {
  border-top: 3px solid #440154;
}

h3 {
  color: #26828E;
}

.container a, .panel_default h4 a, h5 a {
  color: #26828E;
}

a:hover {
  color: #440154;
}

div.footer {
  border-bottom: 5px solid #440154;
}

.talk-container {
  padding-top: 10px;
  font-size: 16px;
  width: auto;
  text-align: center;
}

.talk-info > ul {
  width: 50%;
  display: inline-flex;
  align-items: stretch;
  justify-content: space-between;
  font-size: 13px;
}

.talk-info > li {
  display: inline-block;
}

.talk-window {
  text-align: center;
}

.talk-window > iframe {
  display: inline-block;
  justify-content: center;
}

.profile {
  max-width: 40%;
}

.avatar {
  padding-top: 0%;
  padding-bottom: 3%;
}

.bio {
  font-size: 16px;
  max-width: 100%;
  text-align: left;
}

.bio h2 {
  font-family: Montserrat, sans-serif;
}

.twitter-tweet {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.talks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(1fr, 50px) minmax(1fr, 50px);
  grid-template-areas:
    "title description"
    "links venue";
  margin-bottom: 10px;
  font-size: 1.15em;
}


.talks > .title {
  grid-area: title;
  margin-right: 10px;
  margin-bottom: 5px;
}
.talks > .description {
  grid-area: description;
}
.talks > .links {
  grid-area: links;
}
.talks > .venue {
  .grid-area: venue;
}
.talks h4 {
  margin: 0px;
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 1.4em;
}
.container h1 {
  font-family: Montserrat, Helvetica, sans-serif;
}
.talks .links p {
  font-size: 1.2em;
  font-weight: bold;
}
hr {
  border: none;
  border-top: 1px dashed;
  height: 1px;
}
