.slides-contact {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55%;
  justify: center;
}
.contact {
  font-family: "Montserrat";
  font-size: .6em;
  pointer-events: all;
}
.contact-left {
  justify-self: start;
}
.slides-link-container {
  align-self: center;
  justify-self: center;
  margin-bottom: 2%;
}
.home {
  text-align: left;
  margin-top: 8%;
}
