{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="container">
        <h1>Posts</h1>
          <div class="panel panel-default">
            <div class="panel-body">
            {{ range .Data.Pages.ByPublishDate.Reverse }}
              {{ if not (in .Params.tags "rc-journal" ) }}
              <div class="posts">
                <div class="col-lg-8">
                  <h5 class="date">
                    {{ .Date.Format "January 2, 2006" }}
                  </h5>
                 </div>
                 <div class="col-lg-8">
                   <h5 class="title">
                    <strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></strong>
                  </h5>
                </div>
              </div>
              {{ end }}
            {{ end }}
            </div>
          </div>
      </div>
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
