<meta charset="utf-8">
<!-- Footer -->
<style>
.reveal .footer {
  font-family: "Montserrat";
  font-size: .7em;
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65%;
  justify: center;
}
</style>

<title>{{ or .Page.Title .Site.Title }}</title>
{{ with $.Param "description" }}<meta name="description" content="{{ . }}">{{ end }}
{{ with .Site.Author.name }}<meta name="author" content="{{ . }}">{{ end }}
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
{{ partial "mathjax.html" . }}
