{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-square" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Profile">
        </div>
        <div class="bio">
          <p>Hey, I'm <strong>{{ .Site.Params.author }}</strong>, an engineer in Chicago.</p>
          <p>As you can probably guess if you've seen <a href="https://twitter.com/zlipp">my Twitter</a>, I try not to take things too seriously.</p>
          <p>When I am serious, I'm interested in machine learning, reproducible data science, and software architecture. I use this site to teach myself more about lightweight web design, <a href="{{ .Site.BaseURL }}blog/">write</a>, and record <a href="{{ .Site.BaseURL }}talks/">my presentations</a>.</p>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
