{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="profile" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Profile">
        </div>
        <div class="bio">
          <h2>Hey, I'm  {{ .Site.Params.author }}</h2>
          <p>I'm a software engineer based in NYC.</p>
          <p class="left">I like solving challenging problems. Some things on my mind these days:</p>
          <ul class="left">
            <li>Building effective software teams</li>
            <li>Scaling machine learning inference</li>
            <li>Architecting and monitoring distributed systems</li>
            <li>Building and deploying static sites (like this one!)</li>
          </ul>
          <p>If any of these interest you, please reach out.</p>
        </div>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
