html, body {
  border-top: 3px solid #440154;
}

h3 {
  color: #26828E;
}

.container a, .panel_default h4 a, h5 a {
  color: #26828E;
}

a:hover {
  color: #440154;
}

div.footer {
  border-bottom: 5px solid #440154;
}

.talk-container {
  padding-top: 10px;
  font-size: 16px;
  width: auto;
  text-align: center;
}

.talk-info > ul {
  width: 50%;
  display: inline-flex;
  align-items: stretch;
  justify-content: space-between;
  font-size: 13px;
}

.talk-info > li {
  display: inline-block;
}

.talk-window {
  text-align: center;
}

.talk-window > iframe {
  display: inline-block;
  justify-content: center;
}
