{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="container">
        <h1>Talks</h1>
          <div class="panel panel-default">
            <p>These talk pages will not render correctly on mobile browsers. Please browse them from the comfort of your laptop or desktop.</p>
            <div class="panel-body">
            {{ range .Data.Pages.ByPublishDate.Reverse }}
              <div class="talks">
                <div class="date">
                  <h5>
                    {{ .Date.Format "January 2, 2006" }}
                  </h5>
                 </div>
                 <div class="title">
                   <h5 style="text-align: left">
                    <strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></strong>
                  </h5>
                </div>
                <div class="venue">
                  {{ .Params.Venue | markdownify }}
                </div>
                <div class="description">
                    {{ .Params.Description | markdownify}}
                </div>
            </div>
            {{ end }}
            </div>
          </div>
      </div>
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
