{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="container">
        <h1>Talks</h1>
          <div class="panel panel-default">
            <div class="panel-body">
            {{ range .Data.Pages.ByPublishDate.Reverse }}
              {{ if not (in .Params.tags "unlisted" ) }}
              <div class="talks">
                 <div class="title">
                   <h4>
                     <strong>{{ .Title | markdownify }}</strong>
                  </h4>
                </div>
                <div class="links">
                  <p>
                  {{ if .Params.recording_url }}
                  <a href="{{ .RelPermalink }}/#/">Slides</a>, <a href="{{ .Params.recording_url}}">Recording</a>
                  {{ else }}
                  <a href="{{ .RelPermalink }}/#/">Slides</a>
                  {{ end }}
                  </p>
                </div>
              <div class="description">
                <p>{{ .Params.Description | markdownify}}</p>
              </div>
              <div class="venue">
                <p>
                Presented at <b>{{ .Params.venue | markdownify }}</b> in {{ .Date.Format "January 2006" }}
                </p>
              </div>
            </div>
            <hr>
            {{ end }}
            {{ end }}
            </div>
          </div>
      </div>
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
